<%= form_with(model: talent, local: true) do |form| %>
  <% if talent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(talent.errors.count, "error") %> prohibited this talent from being saved:</h2>

      <ul>
      <% talent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name,placeholder: "Eg. Academic excellence" %>
  </div>

  <div class="field">
    <%= form.label :experience %>
    <%= form.text_field :experience,placeholder: "Eg. Have a King's Scholarship"  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
