<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @talent.name %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @talent.experience %>
</p>

<%= link_to 'Edit', edit_talent_path(@talent) %> |
<%= link_to 'Back', talents_path %>
