<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @talent.name %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @talent.experience %>
</p>


<br/>

<h2>Add Award:</h2>
<%= form_for([@talent, @talent.awards.build]) do |f| %>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description,placeholder: "Eg. Description of the award"%>
  </div>

  <div class="field">
    <%= f.label :choose_a_category %>
    <%= f.select :category, ['Academic', 'Sports', 'Music', 'Dancing', 'Singing']%>
  </div>

  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
    <% if f.object.image? %>
      <%= image_tag f.object.image.url(:thumb) %>
      <%= f.label :remove_image %>
      <%= f.check_box :remove_image %>
    <%end%>
  </div>
  <div class="field">
    <%= f.label :video %><br>
    <%= f.file_field :video %>
  </div>
    <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_talent_path(@talent) %> |
<%= link_to 'Back', talents_path %>
