<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :studentid %>
    <%= form.text_field :studentid %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <div class="field">
    <%= form.label :sex %>
    <%= form.text_field :sex %>
  </div>

  <div class="field">
    <%= form.label :fos %>

    <%= form.select :fos, ['Computer Science', 'Information Management', 'School of Management', 'Energy', 'Water', 'Aqua-culture', 'TC', 'RS-GIS', 'Structure']%>
  </div>



  <div class="field">
    <%= form.label :nationality %>
    <%= form.select :nationality, ['Afghan','American','Bangladeshi','Cambodian','Chinese','French','German','Indian','Japanese','Korean', 'Malaysian','Nepali','Pakistani','Philippine','Saudi','Sri Lankan','Thai']%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
