<p id="notice"><%= notice %></p>
<br/>
<h2>STUDENT INFORMATION</h2>
<p>
  <strong>Studentid:</strong>
  <%= @student.studentid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @student.sex %>
</p>

<p>
  <strong>Fos:</strong>
  <%= @student.fos %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @student.nationality %>
</p>

<br/>

<h2>TALENT</h2>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Experience</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <% @student.talents.each do |talent| %>
    <tr>
      <td><%= talent.name %></td>
      <td><%= talent.experience %></td>
      <td>
      <% talent.awards.each do |award| %>
        <%= link_to award.description, awards_path(award) %> <b>Category--></b>(<%= award.category %>),
      <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<br/>

<h2>Add Talent:</h2>
<%= form_for([@student, @student.talents.build]) do |f| %>
  <div class="field">
    <%= f.label :name%>
    <br/>
    <%= f.text_field :name ,placeholder: "Eg. Academic excellence"%>
  </div>
  <div class="field">
    <%= f.label :experience %>
    <br/>
    <%= f.text_field :experience,placeholder: "Eg. Have a King's Scholarship" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
