<h1>Edit</h1>
<%= form_for(@user, html: {multiport: true}) do |f| %>
<div class="field">
  <%= f.label :studentid %><br/>
  <%= f.text_field :studentid %>
</div>

  <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :sex %><br/>
    <%= f.text_field :sex %>
  </div>

  <div class="field">
    <%= f.label :nationality %><br/>
    <%= f.text_field :nationality %>
  </div>

  <div class="field">
    <%= f.label :fos %><br/>
    <%= f.text_field :fos %>
  </div>



  <%= f.submit "Save Change"%>
<%end %>