<h2>Profile of <%=@user.name %> </h2>

<h4><%= link_to  "Edit Profile", edit_user_path(@user)%></h4>

<label>Email:</label><%= @user.email %><br/>
<label>Student ID:</label><%= @user.studentid %><br/>
<label>Name:</label><%= @user.name %><br/>
<label>Sex:</label><%= @user.sex %><br/>
<label>Field of Study:</label><%= @user.fos %><br/>
